@import "../../assets/_variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-stack;
  color: $primary-color;
  height: 100vh;

  h1 {
    font-weight: 300;
    margin-bottom: 4rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #c9768f;
    width: 25rem;
    height: 19rem;
    border-radius: 5px;
    box-shadow: #c9768f;
    box-shadow: 0 3px 10px 2px rgb(48, 43, 43);

    label {
      font-size: 20px;
      font-weight: 500;
    }

    input {
      width: 17rem;
      height: 2rem;
      border-radius: 3px;
      border: none;
    }

    button {
      margin-top: 1rem;
      width: 10rem;
      height: 2rem;
      border-radius: 3px;
      border: none;
      font-family: $font-stack;
      font-size: 18px;
      color: #3a373e;
      font-weight: 700;
      box-shadow: 0 3px 10px 2px rgb(106, 67, 89);
    }
    button:active {
      transform: translateY(2px);
    }

    button:hover {
      cursor: pointer;
    }
  }
}

// .login {
// }

// a {
//   text-decoration: none;
//   //   color: $font-color;
// }

// a:hover {
//   //   color: $font-color;
// }

// .rectangle {
//   height: 35rem;
//   width: 45rem;
//   //   background-color: $secondary-color-four;
// }

// .input-mail {
//   font-size: title-size;

// .input-mdp {
//   //   font-size: title-size;
// }

// input {
//   height: 50px;
//   width: 450px;
// }

// a {
//   text-align: left;
//   //   font-size: $font-size;
// }

// button {
//   //   background-color: $brand-color;
//   //   color: $secondary-color-four;
//   height: 50px;
//   width: 200px;
//   //   font-size: $font-size;
//   display: block;
//   margin-top: 2rem;
//   border: none;
// }

// @media screen and (max-width: 480px) {
//   .rectangle {
//     height: 25em;
//     width: 20rem;
//     // background-color: $secondary-color-four;
//   }

//   input {
//     height: 1, 5rem;
//     width: 15rem;
//   }
// }
