@import "../../assets/_variables.scss";

.container {
  font-family: $font-stack;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: 300;
      color: beige;
      border-style: solid;
      padding-bottom: 2rem;
      border-image: linear-gradient(
          to left,
          #3a373e 5%,
          #583c87 50%,
          #3a373e 95%
        )
        100% 0 100% 0/0px 0 4px 0 stretch;
      animation-name: border-anim;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
    }

    @keyframes border-anim {
      from {
        clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
      }
      to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }

    .formLogin {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background-color: #c9768f;
      width: 22rem;
      height: auto;
      padding: 1.5rem 0;
      border-radius: 5%;
      box-shadow: #c9768f;
      box-shadow: 0 3px 10px 2px rgb(48, 43, 43);
      margin-top: 2rem;
      opacity: 0;
      animation-name: slideInFromBottom;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      label {
        font-size: 20px;
        font-weight: 700;
        color: #3a373e;
      }

      label {
        &:last-of-type {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
          font-weight: 300;
          gap: 0.5rem;
          input {
            width: 1rem;
            margin: 0;
            padding: 0;
          }
        }
      }

      input {
        width: 17rem;
        height: 2rem;
        border-radius: 3px;
        border: none;
      }

      button {
        width: 12rem;
        height: 2rem;
        border-radius: 5px;
        border: none;
        background-color: #583c87;
        font-family: $font-stack;
        font-size: 16px;
        color: beige;
      }
      button:active {
        transform: translateY(2px);
      }

      button:hover {
        cursor: pointer;
        background-color: #7b7373;
      }
    }
    @keyframes slideInFromBottom {
      from {
        opacity: 0;
        transform: translateY(100px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    .login {
      h1 {
        text-align: center;
      }
    }
  }
}
