@import "../src/assets/_variables.scss";

:root {
  background-color: #3a373e;
  * {
    margin: 0;
    font-family: $font-stack;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow: scroll;
  }
}
