@import "../../assets/_variables.scss";

.container_accueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: beige;
  }
  .buttonDashboard {
    width: 10rem;
    height: 3rem;
    margin-right: 1rem;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    background-color: #583c87;
    color: beige;
    border-radius: 5px;
    border: none;
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.1),
      0 4px 6px 8px rgba(1, 1, 1, 0.05);
  }
  .buttonAdd {
    width: 10rem;
    height: 3rem;
    text-align: center;
    vertical-align: middle;
    background-color: #c9768f;
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.1),
      0 4px 6px 8px rgba(1, 1, 1, 0.05);
    color: beige;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }

  .buttonAdd:hover,
  .buttonDashboard:hover {
    background-color: #7b7373;
    cursor: pointer;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }

  // SCSS for form to add a new book
  .modal_form_accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #c9768f;
    width: 25rem;
    height: auto;
    padding: 1.5rem 0;
    border-radius: 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: none;

    .close-button {
      box-shadow: none;
      width: 1rem;
      align-self: flex-end;
      margin-right: 2rem;
      background-color: transparent;
      border: none;
    }
    .close-button:hover {
      background-color: transparent;
      cursor: pointer;
    }

    label {
      font-size: 20px;
      font-weight: 700;
      color: #3a373e;
    }
    input,
    textarea {
      border-radius: 3px;
      border: none;
      width: 20rem;
      font-size: 15px;
    }
    input {
      height: 2rem;
    }
    textarea {
      height: 7rem;
    }
    .save {
      margin-top: 1rem;
      width: 12rem;
      height: 3rem;
      border-radius: 5px;
      border: none;
      font-size: 18px;
      font-weight: 300;
      color: beige;
      background-color: #583c87;
    }
    .save:active {
      transform: translateY(2px);
    }

    .save:hover {
      cursor: pointer;
      background-color: #7b7373;
    }
  }

  .notFoundLottie {
    width: 20rem;
  }

  // SCSS for slider-section in desktop
  .slider-section {
    width: 100%;
    .slider-flex {
      width: 70%;
      height: 32rem;
      margin: auto;
      padding-left: 1rem;
      .cards {
        padding-top: 1rem;
        padding-bottom: 1rem;
        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 28rem;
          max-width: 80%;
          margin: 0 auto;
          padding: 1.5rem;
          color: beige;
          background-color: #3a373e;
          border: 2px solid #c9768f;
          border-radius: 5%;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
            filter: drop-shadow(0 0 0.2rem #583c87);
            transition-duration: 0.3s;
          }
          h3 {
            color: #c9768f;
          }
          .resume {
            word-wrap: break-word;
          }
          .buttonKnow {
            width: 9rem;
            height: 2.5rem;
            background-color: #c9768f;
            color: beige;
            border-radius: 5px;
            border: none;
            font-size: 1rem;
          }
          .buttonKnow:hover {
            cursor: pointer;
            background-color: #7b7373;
          }
        }
      }
      .slick-next,
      .slick-prev {
        transform: none;
      }

      .slick-arrow:hover {
        transform: none;
      }

      .slick-prev:before,
      .slick-next:before {
        font-size: 35px;
        color: #c9768f;
      }

      .slick-prev:hover:before,
      .slick-next:hover:before {
        color: #583c87;
      }

      .slick-prev:hover,
      .slick-next:hover {
        background-color: transparent;
        transform: none;
      }
    }
  }

  // SCSS for slider when there are 1 or 2 books only
  .notSlider {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      min-height: 27rem;
      max-width: 20rem;
      width: 20rem;
      padding: 1.5rem;
      color: beige;
      background-color: #3a373e;
      border: 2px solid #c9768f;
      border-radius: 5%;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
        filter: drop-shadow(0 0 0.2rem #583c87);
        transition-duration: 0.3s;
      }
      h3 {
        color: #c9768f;
      }
      .resume {
        word-wrap: break-word;
      }
    }
    .buttonKnow {
      width: 9rem;
      height: 2.5rem;
      text-align: center;
      vertical-align: middle;
      background-color: #c9768f;
      color: beige;
      border-radius: 5px;
      border: none;
      font-size: 1rem;
    }
    .buttonKnow:hover {
      background-color: #7b7373;
    }
  }
  .card-list {
    display: none;
  }

  .buttonDisconnect {
    width: 10rem;
    height: 3rem;
    text-align: center;
    vertical-align: middle;
    background-color: #583c87;
    color: beige;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.1),
      0 4px 6px 8px rgba(1, 1, 1, 0.05);
  }
  .buttonDisconnect:hover {
    cursor: pointer;
    background-color: #7b7373;
    transform: translateY(2px);
  }

  // SCSS for form when disconnect
  .modal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #c9768f;
    width: 23rem;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: none;
    p {
      font-size: 20px;
      font-weight: 700;
      color: #3a373e;
      text-align: center;
      margin: 0;
    }
    .save {
      width: 10rem;
      height: 2rem;
      border-radius: 3px;
      border: none;
      font-size: 18px;
      color: #3a373e;
      font-weight: 700;
    }
    .save:active {
      transform: translateY(2px);
    }

    .save:hover {
      cursor: pointer;
    }
  }
}
// SCSS for responsive
@media screen and (max-width: 768px) {
  .container_accueil {
    h1 {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      text-align: center;
      font-size: 1.5rem;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        .buttonDashboard {
          margin-right: 0;
          margin-bottom: 1rem;
        }
      }
    }
    .modal_form_accueil {
      width: 95%;
    }
    .slider-section {
      display: none;
    }
    .card-list {
      display: block;
      width: 95%;
      padding-left: 0;
      .card {
        border-radius: 5px;
        box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.1),
          0 4px 6px 8px rgba(1, 1, 1, 0.05);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        text-align: center;
        margin-bottom: 1rem;
        color: beige;
        h3 {
          color: #c9768f;
        }
        .buttonKnow {
          width: 10rem;
          height: 3rem;
          text-align: center;
          vertical-align: middle;
          background-color: #c9768f;
          color: beige;
          border-radius: 5px;
          border: none;
          margin-bottom: 1rem;
          margin-top: 1rem;
          font-size: 1rem;
        }
        .buttonKnow:hover {
          background-color: #7b7373;
          transform: translateY(2px);
        }
      }
    }
    .buttonDisconnect {
      margin-bottom: 2rem;
    }
  }
}
